{% extends "app/_base.html" %}
{% block content %}

  {{ message }}

  <h3 class="sub_title">●検索条件</h3>

  <form method="post" action="">
  {% csrf_token %}
	<table>
	  <tr>
	    <td>{{ form.syutokuymd.label }}</td>
	    <td>{{ form.syutokuymd }}</td>
	  </tr>
	  <tr>
	    <td>{{ form.syutokutime_from.label }}</td>
	    <td>{{ form.syutokutime_from }}</td>
		<td> ～	</td>
	    <td>{{ form.syutokutime_to }}</td>
	  </tr>
	  <tr>
	    <td>{{ form.trendword.label }}</td>
	    <td>{{ form.trendword }}</td>
	  </tr>
	</table>

    <input type="submit" value="検索">
  </form>
  <hr>
  <br>
    <h3 class="sub_title">●検索結果</h3>

	<div class="row">
		<div class="col-12">
			<ul class="list-group">
				<table id="tablelist" class="tablesorter">
					<thead>
					<tr>
						<th>ID</th>
						<th>トレンドワード</th>
						<th>取得日</th>
						<th>取得時間</th>
						<th>ツイート数</th>
						<th>平均感情スコア</th>
					</tr>
					</thead>
					{% for trend in trend_list %}
						<tr>
							<td><p>{{ trend.pk }}</p></td>
							<td><a href="{% url 'tweet' trend.pk trend.trendword %}">{{ trend.trendword }}</a></td>
							<td><p>{{ trend.syutokuymd|date:"Y/m/d"}}</p></td>
							<td><p>{{ trend.syutokutime|date:"G:i:s" }}</p></td>
							<td><p>{{ trend.tweetvolume }}</p></td>
							<td><p>{{ trend.avetweetsentimentscore }}</p></td>
						</tr>

				{% empty %}
				<li class="list-group-item">
					対象のデータがありません
				</li>
				{% endfor %}
				</table>
			</ul>
		</div>
	</div>

{% endblock %}